<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
      <a class="navbar-brand" [routerLink]="['\home']">DatingApp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['\members']">Matches <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item"  routerLinkActive="active">
            <a class="nav-link" [routerLink]="['\lists']">Lists</a>
          </li>
          <li class="nav-item"  routerLinkActive="active">
            <a class="nav-link" [routerLink]="['\messages']">Messages</a>
          </li>
          <li class="nav-item">
            
          </li>
        </ul>
        <div *ngIf="check" class="dropdown" ngbDropdown>
          <a class="dropdown-toggle text-light" ngbDropdownToggle data-toggle="dropdown" style="cursor: pointer;">
            Welcome  {{authService.decodeToken?.unique_name | titlecase}}
        </a>
          <ul class="dropdown-menu" ngbDropdownMenu>
            <a ngbDropdownItem class="dropdown-item" [routerLink]="['/members/edit']"><i class="fa fa-user"></i>Edit Profile</a>
            <div class="dropdown-divider"></div>
            <a ngbDropdownItem class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i>LogOut</a>
          </ul>
        </div>
        <form *ngIf="!check" #loginForm="ngForm" class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" name="username" placeholder="UserName" required [(ngModel)]="model.username" #username="ngModel">
          <input class="form-control mr-sm-2" type="password" placeholder="Password" name="password" #password="ngModel" [(ngModel)]="model.password" required>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" [disabled]="!loginForm.valid"  (click)="login()">Login</button>
        </form>
      </div>
  </div>
    
  </nav>
  